@model List<Online_Fast_food_Delievery.Models.Dto.CategoryDto>

<h1>Category List</h1>

<p>
    <a asp-controller="Category" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Title</td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a> |
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">Delete</a> |

                    <a asp-controller="Category" asp-action="Details" asp-route-id="@category.Id">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>

